.items{
    background-color: #a73737;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.img{
    width: 100px;
    height: 100px;
}
.name{
    color: #fff;
}