.items{
    background-color: #fcc632;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 230px;
    border: 5px solid #2213fa;
    border-radius: 5px;
    cursor: pointer;
}
.items:hover{
    background-color: #e0b231;
    transition: 300ms;
}
.items:last-child{
    margin-bottom: 10px;
}
.img{
    height: 120px;
}
.name{
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 30px;
    text-transform: capitalize;
}