@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lora&family=Work+Sans&display=swap');

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 20px;
}
.title{
    color: #fcc632;
    text-shadow: 1px 3px #2213fa;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin: 30px;
}
.input{
    height: 39px;
    width: 200px;
    border: 3px solid #2213fa;
    font-size: 1rem;
    color: #6d6d6d;
    font-family: 'Work Sans', sans-serif;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
}
.img{
    height: 30px;
    padding: 2px;
    cursor: pointer;
}
.pesquisa{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}
.pesquisar{
    margin-left: 4px;
    border: 3px solid #2213fa;
    background-color: #fcc632;
    border-radius: 5px;
}
.pesquisar:hover{
    background-color: #e0b231;
    transition: 600ms all ease-in-out;
    border-radius: 20px;
}
.pesquisar:active{
    background-color: #b48f2a;
    transform: translateY(5px); 
}