.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 50px 100px;
}
.title{
    color: rgb(74, 0, 248);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}